@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');

html{
    height:100%;
}

body {
     min-width: 100%; 
     margin: auto;
    }

/**********/
/* HEADER */
/**********/

header{
    align-self: center;
    min-height:45px;
    min-width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,117,170,0.66) 0%, rgba(48,144,194,1) 30%, rgba(1,0,53,1) 80%);
    color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

h1>span>a,
h1>span>a:hover{
    align-self: center;
    text-decoration: none;
    color: black;
}

.move {margin-left: auto;}

.col-search{
    padding-right: 0;
    margin-right: -2px;
    align-self: center;
}
.col-btn{
    padding-left:0;
    margin-left: -2px;
    align-self: center;
}

.search-field {
    align-self: center;
    padding: 10px;
    margin-left: 0;
    margin-right: -5px;
    border-color: rgba(67, 117, 170, 0.66);
    border-radius: 5px 0 0 5px;
}

.search-btn{
    align-self: center;
    margin-left: -5px;
    padding-left: 0;
}

.pagetop>form>div>a>input,
.pagetop>div>a>input{
    align-self: center;
    background-color:  rgb(67, 117, 170);
    color: white;
    font-size: larger;
    font-style:normal;
    border: 0;
    padding: 10px 30px;
    margin-left: 0;
}

.pagetop>form>div>a>input{
    align-self: center;
    border-radius: 0 5px 5px 0;
}

.pagetop>form>div>a>input:hover,
.pagetop>div>a>input:hover,
.pagetop>div>a>input:active{
    background-color: white;
    color:  rgb(67, 117, 170);
    border-color: white;
}


.p-2,
.p-2>input{
    align-self: center;
    padding: 0 auto;
}

.form .error {
    color: red;
}
/*********/
/* TABLE */
/*********/

.table-titles>th{
    background-color: rgb(67, 117, 170);
    color: white;

}

.table-titles>th:nth-child(2),
.table-titles>th:nth-child(3),
.align-middle
{
    text-align: center;
}

.table>tbody>tr>td:first-child>a{
    text-align: left;
    text-decoration: none;
    color: rgb(67, 117, 170);
}

.table>tbody>tr>td:nth-child(n+2){
    color:grey;
    font-size: smaller;
}
.container{
    padding-bottom: 50px;
}

.container>form{
    border: none;
}

.form-control{
    margin-bottom: 30px;
}

.content{
    padding-bottom: 100px;
}

.btn-outline-danger{
    min-width: 5%;
}

.btn-outline-secondary{
    min-width: 40%;
}

.updatebttn,
.updatebttn:hover{
    min-width: 52%;
    color: white;
    background-color: rgba(67, 117, 170, 0.66);}



.table-nav,
/*.table-nav>block>div>block>a,*/
.table-nav>div>a
{
    align-items: center;
    text-decoration: none;
    color: rgba(67, 117, 170);
    word-spacing: 7px;
}

/*********/
/* LOGIN */
/*********/

.login {
    width: 50%;
    padding: 20px;
    border: none;
}


.loginFormContainer{
    align-items: center;
}

.login>div>input{
    width: 50%;
    padding: 2px 10px;
    margin: 5px;
}

.loginbtn{
    color: white;
    background-color: rgba(67, 117, 170, 0.66);
    max-width: 25%;
    min-width: 25%;
}

.regbtn {
    border: none;
    background-color: white;
    max-width: 25%;
}

/**********/
/* FOOTER */
/**********/
footer{
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    padding: 5px;
    background-color: rgba(67, 117, 170, 0.66);
    color: rgb(67, 117, 170);
    text-align: center;
    font-size: small;
}



