<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/style.css}" rel="stylesheet">
    <title>Notes</title>
</head>

<header class="d-flex pagetop">
    <div class="mr-auto p-2">
        <h1>notes.<span style="color: black;">all notes</span></h1>
    </div>
    <div class="p-2 move">
        <a th:href="'/notes/new'">
            <input class="btn" type="submit" value="new note"></input>
        </a>
    </div>
    <div class="p-2">
        <a th:href="'/'">
            <input class="btn" type="submit" value=&#9211 style="padding:auto"></input>
        </a>
    </div>
</header>

<body>
    <div class=" container">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr class="table-titles">
                    <th style="w-50">Title</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(notes)}" >
                    <td class="text-center" colspan="4">No Notes yet.</td>
                </tr>

                <tr th:each="note : ${notes}">

                    <td><a th:href="'/notes/' + ${note.id}"><span th:text="${note.title}"></span></a></td>
                    <td class="align-middle" th:text="${#temporals.format(note.created, 'yyyy-MM-dd HH:mm:ss')}">
                        2023-03-03</td>
                    <td class="align-middle" th:text="${#temporals.format(note.updated, 'yyyy-MM-dd HH:mm:ss')}">
                        2023-03-04</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<footer>
    end of the page
</footer>

</html>