<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/style.css}" rel="stylesheet">
    <title>Notes</title>
</head>

<header class="d-flex pagetop">
    <div class="mr-auto p-2">
        <h1>notes.<span style="color: black;">all notes</span></h1>
    </div>
    <div class="p-2 move">
        <a th:href="'/notes/new'">
            <input class="btn" type="submit" value="new note"></input>
        </a>
    </div>
    <div class="p-2">
        <a th:href="'/'">
            <input class="btn" type="submit" value=&#9211></input>
        </a>
    </div>
</header>

<body>

    <div class="container">
        <form class="col card p-3 my-5" method="post" th:action="'/notes/'+${note.id}" th:object="${note}">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" placeholder="Note title" required th:field="*{title}"
                    type="text" />
                <label for="content">Content</label>
                <input class="form-control content" id="content" placeholder="Note content" required
                    th:field="*{content}" type="text" />
            </div>
            <div>
                <input class="btn updatebttn" type="submit" value="Update">
                <input class="btn btn-outline-secondary" type="button" value="Don't update"
                    onclick="window.location.href='/notes'">
            </div>
        </form>
    </div>
</body>

</html>